<h1>Welcome to Gametable!</h1>

<%= image_tag 'GameTable.svg', alt: 'Welcome to GameTable' %>

<h3>We're always looking for new buisnesses to join our community.</h3>

<h4><%= link_to "Register your buisness", new_hosts_path %></h4>